@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ApiDataCollection.Pages.FormModel
@{
    ViewData["Title"] = "Form Page";
}

<h1>Country API Filtering Form:</h1>

<form method="post" asp-page-handler="Submit">
    <label>Country name contains: <input asp-for="Name" asp-route-param1="@Model.Name" /></label><br />
    <label>Population less than: <input asp-for="Limit" asp-route-param2="@Model.Limit" /></label><br />
    <label>Sorting by(asc/desc): <input asp-for="Sorting" asp-route-param3="@Model.Sorting" /></label><br />
    <label>Take first: <input asp-for="Count" asp-route-param4="@Model.Count" /></label><br />
    <button type="submit">Submit</button>
</form>
